<!DOCTYPE html>
<html>



<head>

    <script type="text/javascript" src="{{ url_for('static', filename='homeslider.js') }}">
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
/* CSS */
    @import url('https://fonts.googleapis.com/css?family=Abel');


html, body {
  overflow: hidden;
  touch-action: none;
  height: 100%;
   font-family:'Abel';
}


.navbar {
  /*border-bottom: 1px solid #BBBBBB;*/
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #00FFFF;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #00FFFF;
}

.nav-link-fade-up::before {
  width: 90%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}




















html, body,
.docSlider,
.docSlider-inner,
.docSlider-page,
.docSlider-pager,
.docSlider-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  outline: none;
}

html:active, body:active,
.docSlider:active,
.docSlider-inner:active,
.docSlider-page:active,
.docSlider-pager:active,
.docSlider-button:active {
  outline: none;
}

.docSlider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.docSlider-inner {
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
}

.docSlider-page {
  height: inherit;
  width: inherit;
  overflow: auto;
  position: absolute;
  overflow-scrolling: touch;
}

.docSlider-pager {
  position: fixed;
  z-index: 100;
  top: 45%;
  left: 20px;
  transform: translateY(-50%);
}

.docSlider-button {
  height: 14px;
  width: 14px;
  border-radius: 20%;
  background-color: #333;
  opacity: .25;
  cursor: pointer;
  display: block;
  margin: 5px 0;


}

.docSlider-button.selected {
  opacity: 1;
}
/*
#uwclogo {
    position: fixed;
}
#uwclogo img {
    position: fixed;
    top: 10px;
    left: 20px;
}
*/
/* Navigation CSS 
.bg-steel {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 2%;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;

}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

a.leftNav {
  font-size: 22px;
  padding-right: 50px;
  border: none;
  color: #fff;
}

*/

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

</style>

    {% if title %}
        <title>UWC Myanmar {{title}}</title>
    {% else %}
        <title>UWC Myanmar</title>
    {% endif %}

</head>


<nav class="navbar navbar-expand-md navbar-light  fixed-top">
        <div class="container">
        
         <a class="navbar-brand mr-4" href="/">    <img src="static/static_pics/uwcmm_black.png" class="ribbon" style="width:160px;height:25px;" /></a>

          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">                   

              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.uwcinfo') }}">United World Colleges</a>
              <a class="nav-item nav-link nav-link-fade-up" href="{{ url_for('main.apply') }}">Apply</a>
              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.alumni') }}">Myanmar Alumni</a>

            </div>
          </div>
        </div>
 </nav>

<!--<video playsinline autoplay muted loop id="myVideo">
  <source src="static/static_pics/homeVideo.mp4" type="video/mp4">
</video>
-->
<body>

<!--
<div class="docSlider">

<section id="one">

<video playsinline autoplay muted loop id="myVideo">
  <source src="static/static_pics/homeVideo.mp4" type="video/mp4">
</video>


</section>


<section id="two">
</section>

<section id="three">
            
</section>


</div>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
        docSlider.init(3);

        docSlider.enable(true);

</script>
-->

</body>

</html>
