<!DOCTYPE html>
<html>



<head>

    <script type="text/javascript" src="{{ url_for('static', filename='homeslider.js') }}">
    </script>


     <script type="text/javascript" src="{{ url_for('static', filename='SplitText.js') }}">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
/* CSS */
    @import url('https://fonts.googleapis.com/css?family=Abel');


html, body {
  overflow: hidden;
  touch-action: none;
  height: 100%;
   font-family:'Abel';
}

.navbar {
  /*border-bottom: 1px solid #BBBBBB;*/
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #00FFFF;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #00FFFF;
}

.nav-link-fade-up::before {
  width: 90%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}


html, body,
.docSlider,
.docSlider-inner,
.docSlider-page,
.docSlider-pager,
.docSlider-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  outline: none;
}

html:active, body:active,
.docSlider:active,
.docSlider-inner:active,
.docSlider-page:active,
.docSlider-pager:active,
.docSlider-button:active {
  outline: none;
}

.docSlider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.docSlider-inner {
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
}

.docSlider-page {
  height: inherit;
  width: inherit;
  overflow: auto;
  position: absolute;
  overflow-scrolling: touch;
}

.docSlider-pager {
  position: fixed;
  z-index: 100;
  top: 45%;
  left: 20px;
  transform: translateY(-50%);
}

.docSlider-button {
  height: 14px;
  width: 14px;
  border-radius: 20%;
  background-color: #333;
  opacity: .25;
  cursor: pointer;
  display: block;
  margin: 5px 0;


}

.docSlider-button.selected {
  opacity: 1;
}

/*
#uwclogo {
    position: fixed;
}
#uwclogo img {
    position: fixed;
    top: 10px;
    left: 20px;
}

*/
/* Navigation CSS 
.bg-steel {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 2%;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;

}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

a.leftNav {
  font-size: 22px;
  padding-right: 50px;
  border: none;
  color: #fff;
}
*/

.box2 {
  max-width: 70vw;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  top: 55%;
  left:15%;
  font-size: 40px;
  line-height: 1.5;
  transform: translateY(-50%);
  perspective: 400px;
  color:#FF0000;

}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: block;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 21px;
    height: 21px;
    border-bottom: 2px solid skyblue;
    border-right: 2px solid skyblue;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
    cursor: pointer;
  }


  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }

  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }

  @keyframes fade_move_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }

.secTwobgOne{
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width:90%;
  height: 80%;
  margin: 70px;
  padding: 10px;
}

.secThreeBg{
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width:90%;
  height: 80%;
  margin:80px;
  padding: 10px;
}


</style>

    {% if title %}
        <title>UWC Myanmar {{title}}</title>
    {% else %}
        <title>UWC Myanmar</title>
    {% endif %}

</head>

<nav class="navbar navbar-expand-md navbar-light  fixed-top">
        <div class="container">
        
         <a class="navbar-brand mr-4" href="/">    <img src="static/static_pics/uwcmm_black.png" class="ribbon" style="width:160px;height:25px;" /></a>

          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">                   

              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.uwcinfo') }}">United World Colleges</a>
              <a class="nav-item nav-link nav-link-fade-up" href="{{ url_for('main.apply') }}">Apply</a>
              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.alumni') }}">Myanmar Alumni</a>

            </div>
          </div>
        </div>
 </nav>



<body>

<video playsinline autoplay muted loop id="myVideo">
  <source src="static/static_pics/homeVideo.mp4" type="video/mp4">
</video>

<div class="docSlider">

<section id="one">

<div class="box2">
  <p class="split2">There is more in you than you think. 
</p>
  
</div>

<div class="scroll-down"> </div>



<script type="text/javascript">

function random(min, max){
  return (Math.random() * (max - min)) + min;
}

var text = document.body.querySelector(".split2");
var splitText = acAnimated.Plugins.SplitText(text, {words: 1, chars: 1, spacing: 10});

for (var i=0; i<=splitText.chars.length-1; i++) {
  var char = splitText.chars[i];
  TweenMax.from(char, 2.5, {
    opacity: 0,
    x: random(-500, 500),
    y: random(-500, 500),
    z: random(-500, 500),
    scale: .1,
    delay: i * .02,
    yoyo: true,
    //repeat: -1,
    repeatDelay: 10
  });
}

$('.scroll-down').click(function() {
//  $('html, body').animate({
//    scrollTop: $('section').next().offset().top
//  }, 1000);
});

</script>
</section>


<section id="two">
    
<div class="secTwobgOne">

    <h3 style="text-align: center;margin:20px;" class="styled-text">
Selection Criteria
</h3>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
 
<div style="width: 50%; float:right;">
    <p style='width:95%; margin-left:20px;'>
<br>
UWC looks for the applicants who will bring ...
<br>
<br>
Intellectual curiosity and motivation: &nbsp;&nbsp;&nbsp; a genuine urge to learn about the world around oneself and the ability to recognize the details and grasp the breadth of issues (for example global and local concerns) involved in any given topic and to analyze them thoroughly 
<br>
<br>
Active commitment: &nbsp;&nbsp;&nbsp;the ability to develop and readiness to reflect, question and confront one’s own values, to measure one’s behavior within family and community against one’s values, and to act on one’s own beliefs accordingly and responsibly 
<br>
<br>
Social competence: &nbsp;&nbsp;&nbsp; the ability and readiness to make contact with other people, to interact respectfully with them, to work together with them in a team and to achieve solutions; the ability to express oneself adequately in different situations and to different people
<br>
<br>
Resilience, personal responsibility and integrity: &nbsp;&nbsp;&nbsp; the ability to look after oneself physically and emotionally during the challenging and transforming experience that a UWC offers; the personal motivation to adhere to UWC’s common moral and ethical principles, a sense of humility and an ability to listen and value another person’s opinion and experience 
<br>
<br>
Motivation for UWC: &nbsp;&nbsp;&nbsp; passion, ability and serious incentive to contribute to and actively promote UWC’s values
<br>
<br>
</p>
</div>

<div style="width: 43%; float:left;">
    <p style='width:95%; margin-left:10px;'>

<br>
Applications are open to students from Myanmar seeking pre-university education who meet the following criteria:
<br>
<br>
<p  style='width:90%;margin-left:30px;'>
&bull; Age 16 – 18* 
<br>
<br>
&bull; Committed to the social principles and values endorsed by UWC
<br>
<br>
&bull; Completed High School from Myanmar Education System, or a total of 10-11 years of formal education from any established system
<br>
<br>
&bull; A very good level of oral and written English language skills
<br>
<br>
</p>
* Candidates who are older than 18 will be automatically eliminated from the short-list.
<br>
<br>
** Applicants with disabilities who are self-sufficient in their everyday needs are encouraged to apply.
<br>
<br>
</p>


</div>
</div>


<div class="scroll-down"></div>
</section>

<section id="three">
   
<div class="secThreeBg">
   <h3 style="text-align: center;margin:20px;" class="styled-text">Apply
</h3>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
   <!-- <p class='styled-text' style='width:75%;text-align:left;margin-left:110px;font-size:1.1em;'> -->
    <p style='width:90%; margin-left:20px;'>
<br>
Applicants must prepare for the following documents and email them to uwcmyanmarnc@gmail.com
<br>
<br>
<p style='width:90%; margin-left:50px;'>
&bull; United World College Application Form
<br>
<br>
&bull; United World College Two Academic Reference Forms
<br>
<br>
&bull; A certified copy of high school certificate from Myanmar Education System or a total of 10 or 11 years of formal education from any established system (with English translation)
<br>
<br>
&bull; A copy of high school transcript from Myanmar Education System or a total of 10 or 11 years of formal education from any established system (with English translation)
<br>
<br>
</p>
</p>
    <p style='width:90%; margin-left:20px;'>
<br>
<br>

If it is not possible to send the application electronically then you may post your application to:
<br>
<p style='width:90%;margin-left:50px;'>
Coordinator
<br>
UWC Myanmar National Committee,
<br>
C/O Thabyay Education Foundation
<br>
No. (9), Kan Road, Quarter 10, Hlaing Township, Yangon.
</p>
<br>
<br>
</p>
</div>              
</section>


</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
        docSlider.init(3);

        docSlider.enable(true);

</script>


</body>

</html>
