<!DOCTYPE html>
<html>


<head>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='homeslider.js') }}">
    </script>

     <script type="text/javascript" src="{{ url_for('static', filename='SplitText.js') }}">
    </script>


    <script src="https://kit.fontawesome.com/67e52b6d84.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<style>

		@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  width:  100%;  height: 100%;  
  margin:0px;  padding:0px;
  font-family:'Abel'; 
  overflow:hidden;
}


.navbar {
  /*border-bottom: 1px solid #BBBBBB;*/
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #00FFFF;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #00FFFF;
}

.nav-link-fade-up::before {
  width: 90%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}



html, body,
.docSlider,
.docSlider-inner,
.docSlider-page,
.docSlider-pager,
.docSlider-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  outline: none;
}

html:active, body:active,
.docSlider:active,
.docSlider-inner:active,
.docSlider-page:active,
.docSlider-pager:active,
.docSlider-button:active {
  outline: none;
}

.docSlider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
              background-color: #FFBFCA;

}

.docSlider-inner {
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
}

.docSlider-page {
  height: inherit;
  width: inherit;
  overflow: auto;
  position: absolute;
  overflow-scrolling: touch;
}

.docSlider-pager {
  position: fixed;
  z-index: 100;
  top: 45%;
  left: 20px;
  transform: translateY(-50%);
}

.docSlider-button {
  height: 14px;
  width: 14px;
  border-radius: 20%;
  background-color: #333;
  opacity: .25;
  cursor: pointer;
  display: block;
  margin: 5px 0;


}

.docSlider-button.selected {
  opacity: 1;
}





.grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .styled-text {
            font-family: Quicksand, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            display: block;
            font-weight: 300;
            color: #35495e;
            letter-spacing: 1px;

        }

        @media screen and (max-width: 600px) {
            .grid-container {
                grid-template-columns: auto;
            }
        }






.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    display: block;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 21px;
    height: 21px;
    border-bottom: 2px solid skyblue;
    border-right: 2px solid skyblue;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
    cursor: pointer;
  }


  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }

  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }

  @keyframes fade_move_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }








/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Navigation CSS */
.bg-steel {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 2%;
}

/*
site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding-right: 70px;
  padding-left: 70px;
  font-size: 20px;

}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


/* Play Pause Button */

.button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 34px;

  border-color: transparent transparent transparent lightgray;
  transition: 100mx all ease;
  cursor: pointer;


  /*play state */
  border-style: solid;
  border-width: 18px 0 18px 28px;
}

.paused {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 34px;
  
  border-color: transparent transparent transparent lightgray;
  transition: 100mx all ease;
  cursor: pointer;
   
    border-style: double;
    border-width: 0px 0 0px 28px;
  }



.secOnebg {
  position: fixed;
  color: #f1f1f1;
  width:63%;
  height: 30%;
  margin-top: 27%;
  padding: 10px;
}

.box {
  max-width: 70vw;
  padding: 30px;
  margin: 0 auto;
  position: fixed;
  top: 70%;
  font-size: 34px;
  line-height: 2;
  transform: translateY(-50%);
  perspective: 400px;
  color:#00FFFF;
}





.sectionTWOhomeBG{
  position: relative;
  color: #f1f1f1;
  width:90%;
  height: 52%;
  margin: 70px;
  padding: 10px;
}

.sectionThreehomeBG{
  position: relative;
  color: #f1f1f1;
  margin: 70px;
  padding: 10px;
}


</style>



    {% if title %}
        <title>UWC Myanmar {{title}}</title>
    {% else %}
        <title>UWC Myanmar</title>
    {% endif %}


</head>


<body>


 


<header>

<nav class="navbar navbar-expand-md navbar-light  fixed-top">
        <div class="container">
        
         <a class="navbar-brand mr-4" href="/">    <img src="static/static_pics/uwcmm_black.png" class="ribbon" style="width:160px;height:25px;" /></a>

          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">                   

              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.uwcinfo') }}">United World Colleges</a>
              <a class="nav-item nav-link nav-link-fade-up" href="{{ url_for('main.apply') }}">Apply</a>
              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.alumni') }}">Myanmar Alumni</a>

            </div>
          </div>
        </div>
 </nav>
</header>

<div class="docSlider">


<section id="one">
<!-- The video -->
<video playsinline autoplay muted loop id="myVideo">
  <source src="static/static_pics/homeVideo.mp4" type="video/mp4">
</video>
<div class="secOnebg">
<div class="box">
  <p class="split">UWC makes education a force to unite people, nations and cultures <br>for peace and a sustainable future.</p>
</div>
</div> 

<div class="scroll-down"> </div>


<script type="text/javascript">

function random(min, max){
  return (Math.random() * (max - min)) + min;
}

var text = document.body.querySelector(".split");
var splitText = acAnimated.Plugins.SplitText(text, {words: 1, chars: 1, spacing: 10});

for (var i=0; i<=splitText.chars.length-1; i++) {
  var char = splitText.chars[i];
  TweenMax.from(char, 2.5, {
    opacity: 0,
    x: random(-500, 500),
    y: random(-500, 500),
    z: random(-500, 500),
    scale: .1,
    delay: i * .02,
    yoyo: true,
    //repeat: -1,
    repeatDelay: 10
  });
}
</script>


</section>



<!--
<section id="two">
 


 <div id="section2-container">
 <div class="box2" align="left"  >
       <h1 style="text-align: center;margin:20px;" class="styled-text">Value</h1>
    <hr style="text-align:left;margin-left:auto;margin-right:auto">
  <p class="split2">
International and intercultural understanding<br/>
Celebration of difference<br/>
Personal responsibility and integrity<br/>
Mutual responsibility<br/>
Compassion and service<br/>
Respect for the environment <br/>
A sense of idealism<br/>
Personal challenge<br/>
Action and personal example<br/>
</p>
  
</div> 
</div> 
<script type="text/javascript">


</script>


</section>
-->

<section id="two">


<div class="sectionTWOhomeBG">
    <h4 class='styled-text' style="text-align: center; margin:20px;">UWC Education</h4>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
   <!--<p class='styled-text' style='width:75%;text-align:left;margin-left:110px;font-size:1.1em;'> --> 
    <p class='styled-text'style='width:97%; margin-left:10px;font-size:1em;'>
UWC has 18 schools and colleges on 4 continents, the majority of which focus exclusively on the 16-19 year-old age group: a time when young people’s energy and idealism can be guided towards empathy, responsibility and lifelong action. These colleges teach the International Baccalaureate (IB) Diploma as their formal curriculum, a qualification that UWC played a major part in developing, while also emphasising the importance of experiential learning, community service and outdoor activities.
<br>
<br>
UWC college students are selected domestically, in more than 150 countries, through UWC’s unique national committee system. Selection is based on demonstrated promise and potential. In accordance with the UWC ethos that education should be independent of the student’s socioeconomic means, 70% of students in their IB Diploma years receive either full or partial financial assistance, based on their needs.
<br>
<br>
UWC also runs shorter educational programmes – conducted at the campuses of its 18 schools and colleges and beyond – increasing the number of people who can have access to a UWC educational experience.
<br>
<br>
UWC fosters a lifelong commitment to social responsibility and, to date, it has inspired a worldwide network of more than 60,000 alumni, who believe it is possible to take action and make a difference locally, nationally and internationally.
<br>
<br>
</p>

</div>
<div class="scroll-down"> </div>
<canvas id="c"></canvas>
<script type="text/javascript">
  window.onload = function(argument) {

  var lyric = "International understanding diversity intercultural Celebration difference Personal responsibility integrity compassion service Respect Environment Idealism personal Challenge Action example social Challenge Idealism diversity Compassion";
  var words = {};
  var words_attr = [];
  string_handle(lyric);

  var canvas = document.getElementById('c');
  canvas.width = window.innerWidth/1.1;
  canvas.height = window.innerHeight/3.6;

  if (canvas.getContext) {
    var c = canvas.getContext('2d'),
      w = canvas.width,
      h = canvas.height;

    c.strokeStyle = 'red';
    c.fillStyle = 'gray';
    c.lineWidth = 3;

    // constructor
    Word = function(key) {
      this.text = key;
      this.x = Math.random() * w;
      this.y = Math.random() * h;
      this.font = words[key] * 10 + 'px arial'
      this.speed = (words[key]);
    }
    for (key in words) {
      words_attr.push(new Word(key));
    }
    console.log(words_attr.length);

    function animation() {
      for (var i = 0; i < words_attr.length; i++) {
        c.font = words_attr[i].font;
        c.fillText(words_attr[i].text, words_attr[i].x, words_attr[i].y);
        words_attr[i].width = c.measureText(words_attr[i].text).width;
        c.stroke();
      }
      move();
    }

    function move() {
      for (var i = 0; i < words_attr.length; i++) {
        if (words_attr[i].x > w) {
          words_attr[i].x = -words_attr[i].width;
          words_attr[i].y = Math.random()*h;
        }else{
          words_attr[i].x += words_attr[i].speed;
        }
      }
    }

    setInterval(function() {
      c.clearRect(0,0,w,h);
      animation();
    },50);

  }

  function string_handle(str) {
    var split_str = str.split(" ");
    var word_array = [];
    var word_count = [];
    for (var i = 0; i < split_str.length; i++) {
      check = true;
      for (var j = 0; j <= word_array.length; j++) {
        if (split_str[i] == word_array[j]) {
          word_count[j]++;
          check = false;
          break;
        }
      }
      if (check) {
        word_array.push(split_str[i]);
        word_count.push(1);
      }
    }
    for (var i = 0; i < word_array.length; i++) {
      words[word_array[i]] = word_count[i];
    }
    return words;
  }

}
</script>

</section>

<section id="three">

<div class="sectionThreehomeBG">
    <h4 style="text-align: center;margin:20px;">What is the International Baccalaureate Programme?</h4>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
    <p style='width:95%;text-align:left;margin-left:10px;font-size:1em;'>
The IB Organisation (IBO) was founded in 1968. From the beginning, the IBO relied on UWC’s input and collaboration in light of UWC’s experience of providing progressive, intercultural education with an emphasis on experiential learning. The ties between both organisations remain close today as the IBO celebrates its 50th anniversary in 2018.
<br>
<br>
After six years of piloting the programme at different schools including UWC Atlantic College in Wales, the IBDP was officially established in 1975. Programmes for primary years, middle years and career-related programmes were developed in the last two decades. All IB programmes aim to “encourage students across the world to become active, compassionate and lifelong learners who understand that other people, with their differences, can also be right.”
<br>
<br>
The various programmes have grown in popularity due to the organisation’s reputation as the “gold standard” for international education, particularly in the IBDP. Today there are five thousand schools educating 1.3 million students globally.
<br>
<br>
Which subjects can students take for the IBDP?
<br>
<br>
IB Diploma students choose a course from each of the following six subject areas: 1. Studies in Language and Literature
<br>
<br>
Language Acquisition<br>
Individuals and Societies<br>
Sciences<br>
Mathematics<br>
The Arts (instead of a course in the arts, students can opt to study another science, individuals and societies, or language acquisition course)
<br>
<br>
IBDP Subjects at uwc
<br>
<br>
Students study generally three subjects at standard level, and three subjects at a higher level, for which they are expected to demonstrate a greater body of knowledge, understanding and skills. Which specific subjects are offered will vary between the UWC schools and colleges, often reflecting their geographic location and focus areas.
<br>
<br>
As well as the six subject areas, students complete three core parts of the IB Diploma which are central to the philosophy of the programme. These are:
<br>
<br>
Extended Essay (EE): Students investigate a topic of special interest, and develop the independent research and writing skills required at university level. The essay is typically written in one of the student’s six subject groups and must be no more than 4,000 words in length. Students are supported in the research and writing process by an academic supervisor.
<br>
<br>
Theory of Knowledge (TOK): The course encourages students to reflect on the nature of knowledge, on how we know what we claim to know. It is assessed through an oral presentation and a 1,600-word essay.
Creativity, Activity, Service (CAS): Taking responsibility, developing social, creative and outdoor skills, as well as learning to approach others with empathy are at the heart of the programme. Students engage in a variety of projects that aim to help them develop these skills, while at the same time actively engaging with their local community.
<br>
<br>
The combination of these elements enables students to develop their capacity to analyse and evaluate information, to effectively communicate ideas, and develop convincing arguments, all of which prepares them for undergraduate and further study. Furthermore, students are able to put their cultural knowledge and understanding into their academic learning, becoming aware of themselves as thinkers and increasingly connected to others.
    </p>
</div>

     <h1 style="text-align: center;margin:20px;" class="styled-text">Creativity, Activity, Service Examples</h1>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
    <div class="grid-container" id="cas-list">
    </div>
    <p class='styled-text' style='width:75%;text-align:left;margin-left:110px;font-size:1.1em;'>
        Creativity, activity, service (CAS) a range of mandatory activities that IB students have to take, alongside their academic studies. 
        CAS is required to enhance the students' personal and interpersonal development by learning through experience.
        <br>
        <br>
         CAS activities at UWC are highly unique because students have the opportunity to engage in activities which are culturally relevant to the location of the UWC.
    <br>
    <br>
    <br>
    <br>
    <br>

    </p>


    <script>
        var cas = '{"cas":[' +
            '{"id":"1","name":"Programming Club","icon":"fas fa-laptop-code"},' +
            '{"id":"2","name":"Football","icon":"far fa-futbol"},' +
            '{"id":"3","name":"Organic Farming","icon":"fas fa-seedling"},' +
            '{"id":"4","name":"Film Making","icon":"fas fa-film"},' +
            '{"id":"5","name":"Mountain Biking","icon":"fas fa-biking"},' +
            '{"id":"6","name":"Dog Shelter","icon":"fas fa-dog"},' +
            '{"id":"7","name":"Music Ensemble","icon":"fas fa-guitar"},' +
            '{"id":"8","name":"Dragon Dance","icon":"fas fa-dragon"},' +
            '{"id":"9","name":"Community Funds","icon":"fas fa-users"}' +
            ']}';
        console.log(cas);
        var obj = JSON.parse(cas);
        var output = "";
        var i;
        for (i = 0; i < obj.cas.length; i++) {
            output += "<div class='grid-item' style='padding: 30px;font-size: 20px;text-align: center;color:#555;'>" +
                "<i class='" + obj.cas[i].icon +
                " fa-3x' style='padding-bottom:20px;'></i><br/><span class='styled-text'>" + obj.cas[i]
                .name +
                '</span></div>';
        }
        document.getElementById("cas-list").innerHTML = output;
    </script>           
</section>


</div>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript">
        docSlider.init(3);

        docSlider.enable(true);

</script>


<!-- 
<header class="site-header">

<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-bottom">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">    <img src="static/static_pics/uwcmm_white.png" class="ribbon" style="width:160px;height:25px;" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <div class="navbar-nav">

              <a class="nav-item nav-link" href="{{ url_for('main.uwcinfo') }}">United World Colleges</a>
              <a class="nav-item nav-link" href="{{ url_for('main.apply') }}">Apply</a>
              <a class="nav-item nav-link" href="{{ url_for('main.alumni') }}">Myanmar Alumni</a>
              <button class="button"> </button>

            </div>
          </div>
        </div>
 </nav>
</header>
-->

<!--
<script>

$(document).ready(function() {

var video = document.getElementById("myVideo");

var btn = $(".button");

btn.click(function() {

  if (video.paused) {
    video.play();
    btn.removeClass("paused");
  } else {
    video.pause();
    btn.toggleClass("paused");
  }

});


});

</script> -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>

