<!DOCTYPE html>
<html>
<head>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<style>

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html, body {
  width:  100%;  height: 100%;  
  margin:0px;  padding:0px;
  font-family:'Roboto';  text-align:center;}

canvas {  display: block;}

#container { color:#999;  text-transform: uppercase;
  font-size:40px;  font-weight:bold;
  padding-top:200px;   position:fixed;
  width:100%;  bottom:45%;  display:block; }

#flip {  height:50px;  overflow:hidden;}

#flip > div > div {  color:#fff;  padding:4px 20px;
  height:50px;  margin-bottom:40px;
  display:inline-block; }

#flip div:first-child {  animation: show 7s linear infinite;}

#flip div div {  color:#42c58a;}
#flip div:first-child div {  color:#4ec7f3;}
#flip div:last-child div {  color:#DC143C;}


@keyframes show {
  0% {margin-top:-270px;}  5% {margin-top:-180px;}
  33% {margin-top:-180px;}  38% {margin-top:-90px;}
  66% {margin-top:-90px;}  71% {margin-top:0px;}
  99.99% {margin-top:0px;} 100% {margin-top:-270px;}}

p {  position:fixed;  width:100%;  bottom:30px;
  font-size:14px;  color:#999;  margin-top:200px;}

</style>

    {% if title %}
        <title>UWC Myanmar- {{ title }}</title>
    {% else %}
        <title>UWCMM</title>
    {% endif %}

    
</head>



<body>

<div id=container align="center">
  <div id=flip>
    <div><div>Action</div></div>
    <div><div>Idealism</div></div>
    <div><div>Diversity</div></div>
  </div>
</div>

<p>Learn more about United World Colleges</p>

<script type="text/javascript" src="{{ url_for('static', filename='hs3backg.js') }}"></script>


</body>

</html>
