<!DOCTYPE html>
<html>



<head>

    <script type="text/javascript" src="{{ url_for('static', filename='homeslider.js') }}">
    </script>

     <script type="text/javascript" src="{{ url_for('static', filename='SplitText.js') }}">
    </script>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>

    <script src="https://kit.fontawesome.com/67e52b6d84.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
/* CSS */
    @import url('https://fonts.googleapis.com/css?family=Abel');


html, body {
  overflow: hidden;
  touch-action: none;
  height: 100%;
   font-family:'Abel';
}

.navbar {
  /*border-bottom: 1px solid #BBBBBB;*/
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #00FFFF;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #00FFFF;
}

.nav-link-fade-up::before {
  width: 90%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}







html, body,
.docSlider,
.docSlider-inner,
.docSlider-page,
.docSlider-pager,
.docSlider-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  appearance: none;
  border: none;
  outline: none;
}

html:active, body:active,
.docSlider:active,
.docSlider-inner:active,
.docSlider-page:active,
.docSlider-pager:active,
.docSlider-button:active {
  outline: none;
}

.docSlider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.docSlider-inner {
  width: inherit;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
}

.docSlider-page {
  height: inherit;
  width: inherit;
  overflow: auto;
  position: absolute;
  overflow-scrolling: touch;
}

.docSlider-pager {
  position: fixed;
  z-index: 100;
  top: 45%;
  left: 20px;
  transform: translateY(-50%);
}

.docSlider-button {
  height: 14px;
  width: 14px;
  border-radius: 20%;
  background-color: #333;
  opacity: .25;
  cursor: pointer;
  display: block;
  margin: 5px 0;


}

.docSlider-button.selected {
  opacity: 1;
}


/* Logo 
#uwclogo {
    position: fixed;
}
#uwclogo img {
    position: fixed;
    top: 10px;
    left: 20px;
}
*/
/* Navigation CSS 
.bg-steel {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 2%;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;

}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

a.leftNav {
  font-size: 22px;
  padding-right: 50px;
  border: none;
  color: #fff;
}
*/

       /*CSS for map begins*/
        #map-container-desktop,
        #map-container-mobile {
            background-color: #;
            width: 98vw;
            height: 44.1vw;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin : 30px;
            /*border: solid 1px red;*/
        }

        #map-container-mobile {
            display: none;
        }

        @media only screen and (max-width: 1100px) {
            #map-container-mobile {
                display: block;
            }

            #map-container-desktop {
                display: none;
            }
        }

        .card {
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            font-family: sans-serif;
            background-color: #fff;
            border: solid #009B90 3px;
            width: 300px;
            height: 180px;
            padding: 10px;
            color: #777;
            overflow: auto;
            z-index: 10;
            border-radius: 10px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
        }

        .uwcimg {
            width: 100px;
            height: 100px;
            float: left;
            margin-right: 10px;
            border-radius: 50%;
        }

        .uwcheading {
            font-size: 1.05em;
            color: #009B90;
        }

        .uwclocation {
            color: #999;
            font-size: 0.9em;
        }
        .uwclink{
            color: #999;
            font-size: 0.9em;
        }

        .uwclink:hover{
            color:#009B90;
        }

        .school-container {
            position: absolute;
        }

        .card-containers {
            position: absolute;
            padding: 10px;
            padding-right: 20px;
            /*border:solid red 1px;*/
        }

        .svgcontainer {
            z-index: -1;
        }

        svg {
            z-index: -1;
            width: 35px;
            height: 35px;
            fill: red;
            fill-opacity: 0.6;
            stroke-width: 1.92;
            cursor: pointer;
        }

        svg:hover {
            fill-opacity: 0.8;
        }

        /*CSS for map ends*/

/*Section 1 */
.box {
  max-width: 70vw;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  font-size: 35px;
  line-height: 2;
  transform: translateY(-50%);
  perspective: 400px;
  color:#00FFFF;
}

.box2 {
  max-width: 70vw;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  font-size: 25px;
  line-height: 1.5;
  transform: translateY(-50%);
  perspective: 400px;
}

.source {
  color: skyblue;
  margin: 0 auto;
}

#section2-container{
            background-color: #FFBFCA;
            width: 100%;
            height: 93%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            /*border: solid 1px red;*/
        }

.grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
        }

        .styled-text {
            font-family: Quicksand, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            display: block;
            font-weight: 300;
            color: #35495e;
            letter-spacing: 1px;

        }

        @media screen and (max-width: 600px) {
            .grid-container {
                grid-template-columns: auto;
            }
        }

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.secOnebg {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width:45%;
  height: 40%;
  margin:200px;
  padding: 5px;
}

.secTwobg{
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width:45%;
  height: 40%;
  margin:200px;
  padding: 5px;
}

.mapimage {
  opacity: 0.5;
}

</style>

    {% if title %}
        <title>UWC Myanmar {{title}}</title>
    {% else %}
        <title>UWC Myanmar</title>
    {% endif %}

</head>



<nav class="navbar navbar-expand-md navbar-light  fixed-top">
        <div class="container">
        
         <a class="navbar-brand mr-4" href="/">    <img src="static/static_pics/uwcmm_black.png" class="ribbon" style="width:160px;height:25px;" /></a>

          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">                   

              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.uwcinfo') }}">United World Colleges</a>
              <a class="nav-item nav-link nav-link-fade-up" href="{{ url_for('main.apply') }}">Apply</a>
              <a class="nav-item nav-link nav-link-fade-up"  href="{{ url_for('main.alumni') }}">Myanmar Alumni</a>

            </div>
          </div>
        </div>
 </nav>













<body>

<video playsinline autoplay muted loop id="myVideo">
  <source src="static/static_pics/homeVideo.mp4" type="video/mp4">
</video>

<!--
<div class="docSlider">


<section id="one">
-->

   <!--Map Script Begin-->
    <!--Map - Desktop Interactive Version-->
    <div id="map-container-desktop">
        <img src="../static/map/world.svg" alt="map" width="90%" height="auto" class="mapimage">
        <div id="school-list">
            <!--School markers are rendered here-->
        </div>
    </div>
    <!--Map - Static Version for Mobile-->
    <div id="map-container-mobile">
        <img src="../static/map/map_static.png" alt="map" width="100%" height="auto">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        function render() {
            var text = '{"uwc":[' +
                '{"id":"Pearson","name":"Pearson College UWC","location":"Victoria, Canada","top":"20","left":"15.5","image_url":"/_site/data/images/news/17/home-Image%201.jpg","position":"right","link":"https://www.pearsoncollege.ca" },' +
                '{"id":"USA","name":"UWC-USA","location":"Montezuma, New Mexico","top":"27","left":"19","image_url":"/_site/data/images/news/18/home-UWC173.jpg" ,"position":"right","link":"https://www.uwc-usa.org/"},' +
                '{"id":"CostaRica","name":"UWC Costa Rica","location":"Santa Ana Downtown, Costa Rica","top":"46","left":"21.5","image_url":"/_site/data/images/news/32/home-Agents%20of%20Change%20projects.jpg","position":"right" ,"link":"https://www.uwccostarica.org/en/"},' +
                '{"id":"RCN","name":"UWC Red Cross Nordic","location":"Flekke, Norway","top":"13.5","left":"44.5","image_url":"/_site/data/images/news/26/home-UWCRCN_Hiking_2.jpg" ,"position":"right","link":"https://uwcrcn.no/"},' +
                '{"id":"Atlantic","name":"UWC Atlantic College","location":"Vale of Glamorgan, Wales, UK","top":"18","left":"42","image_url":"/_site/data/images/news/29/home-Campus-and-Students_03a.jpg" ,"position":"right","link":"https://www.atlanticcollege.org/"},' +
                '{"id":"Maastricht","name":"UWC Maastricht","location":"Maastricht, The Netherlands","top":"20","left":"44","image_url":"/_site/data/images/news/31/home-IMG_4087.jpg","position":"right" ,"link":"https://www.uwcmaastricht.nl/"},' +
                '{"id":"Bosch","name":"UWC Robert Bosch","location":"Freiburg, Germany","top":"21","left":"45","image_url":"/_site/data/images/news/27/home-UWC%20Robert%20Bosch%20College_Schulerdorf.jpg","position":"right","link":"https://www.uwcrobertboschcollege.de/en/" },' +
                '{"id":"Adriatic","name":"UWC Adriatic","location":"Duino, Italy","top":"23","left":"46","image_url":"/_site/data/images/news/28/home-Yearbook%20Picture.jpg","position":"right","link":"https://www.uwcad.it/" },' +
                '{"id":"Mostar","name":"UWC Mostar","location":"Mostar, Bosnia and Herzegovina","top":"24","left":"47","image_url":"/_site/data/images/news/25/home-The%20school%20and%20graduation.jpg" ,"position":"right","link":"http://uwcmostar.ba/"},' +
                '{"id":"Dilijan","name":"UWC Dilijan","location":"Dilijan, Armenia","top":"25","left":"53","image_url":"/_site/data/images/news/30/home-UWC%20Day.jpg","position":"right" ,"link":"https://uwcdilijan.org/"},' +
                '{"id":"Mahindra","name":"UWC Mahindra College","location":"Pune, India","top":"41","left":"61.1","image_url":"/_site/data/images/news/24/home-MH2.jpg","position":"left" ,"link":"https://uwcmahindracollege.org/"},' +
                '{"id":"Thailand","name":"UWC Thailand","location":"Phuket, Thailand","top":"46.1","left":"67.9","image_url":"/_site/data/images/news/22/home-Walk%20way.jpg" ,"position":"left","link":"https://uwcthailand.ac.th/"},' +
                '{"id":"SEA","name":"UWC South East Asia","location":"Singapore","top":"51","left":"69","image_url":"/_site/data/images/news/20/home-UWCSEA_East%20Campus%20Plaza%20overview.jpg" ,"position":"left","link":"https://www.uwcsea.edu.sg/"},' +
                '{"id":"LPC","name":"Li Po Chun UWC","location":"Hong Kong S.A.R, China","top":"37","left":"71.3","image_url":"/_site/data/images/news/16/home-LPCUWC1.jpg" ,"position":"left","link":"https://www.lpcuwc.edu.hk/"},' +
                '{"id":"Changshu","name":"UWC Changshu China","location":"Changshu, China","top":"32.15","left":"72.3","image_url":"/_site/data/images/news/21/home-UWC%20Day%201%20Finals-large-10.jpg" ,"position":"left","link":"http://www.uwcchina.org/en"},' +
                '{"id":"ISAK","name":"UWC ISAK Japan","location":"Kariuzawa, Japan","top":"27.26","left":"75.73","image_url":"/_site/data/images/news/23/home-UWCIJ_2_Castle.jpg","position":"left" ,"link":"https://uwcisak.jp/"},' +
                '{"id":"UWCSA","name":"WKUWC South Africa","location":"Mbabane, Eswatini","top":"67.5","left":"50.23","image_url":"/_site/data/images/news/19/home-aerial%20view%20of%20WK_fullsize_Connor%20Baer,%20Leo%20Penny%20and%20Nicolai%20Davies.jpg" ,"position":"right","link":"https://www.waterford.sz/"},' +
                '{"id":"UWCEA","name":"UWC East Africa","location":"Moshi and Arusha, Tanzania","top":"52.4","left":"52.1","image_url":"/_site/data/images/news/5031/home-View%20of%20Kili%20from%20campus%205).JPG","position":"right","link":"https://www.uwcea.org/" }]}';
            obj = JSON.parse(text);
            var output = "";
            var i;
            for (i = 0; i < obj.uwc.length; i++) {
                var stylepos = "";
                if (obj.uwc[i].position == "right") {
                    stylepos = "left:25px;bottom:-40px;";
                } else {
                    stylepos = "right:20px;bottom:-40px;";
                }
                output += "<!--School--><a href='" + obj.uwc[i].link +
                    "' target='_blank'><div class='school-container' style='top:" + obj.uwc[i].top +
                    "%;left:" +
                    obj.uwc[i].left + "%;'><div class='svgcontainer'><svg animation='" + obj.uwc[i].position +
                    "' id='" + obj.uwc[i].id +
                    "' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64;' xml:space='preserve'><g><g><path class='st0' d='M51.7,23.5c0-11-8.8-20-19.7-20s-19.7,9-19.7,20C12.3,40.3,32,60.5,32,60.5S51.7,40.3,51.7,23.5zM22.7,22.7c0-5.2,4.2-9.3,9.3-9.3s9.3,4.2,9.3,9.3S37.2,32,32,32S22.7,27.8,22.7,22.7z'/></g></g></svg></div><div style='position:relative;'><div class='card-containers' style='" +
                    stylepos + "' id='" +
                    obj.uwc[i].id + "-card'><div class='card'><div><img src='../static/map/" + obj.uwc[i].id +
                    ".jpg' class='uwcimg'><div style='padding:10px 5px 0px 0px'><span class='uwcheading'>" +
                    obj
                    .uwc[i].name + "</span><br/><i class='uwclocation'>" + obj.uwc[i].location +
                    "</i><br/><br/><u class='uwclink'>Visit website</u></div></div></div></div></div></div></a>";
            }
            //render to DOM
            document.getElementById("school-list").innerHTML = output;
            $(".card-containers").hide();
        }
        $(document).ready(function () {
            /*Script for Map Interactivity*/
            var shown = false;
            var name = "";
            var cardname = "";
            render();

            $("#map-container-desktop").mousedown(function () {
                $(".card-containers").fadeOut();
            });

            $("svg").hover(function () {
                name = "#" + $(this).attr('id');
                animation_direction = $(this).attr('animation');
                cardname = name + "-card";
                $(".card-containers").css('zIndex', '10');
                $(cardname).show();
                $(cardname).css('zIndex', '20');
            }, function () {
                if (shown == false) {
                    //$(cardname).hide();
                }
            });
            $(".card-containers").hover(function () {
                name = "#" + $(this).attr('id');
                cardname = name;
                $(".card-containers").css('zIndex', '10');
                $(cardname).show();
                $(cardname).css('zIndex', '20');
                shown = true;
            }, function () {
                $(cardname).fadeOut();
                $(".card-containers").fadeOut();
                shown = false;
            });
        });
  </script> 

<!--
<div class="secTwobg">

</div>

</section>


<section id="two"> -->
 

 <!--
 <div id="section2-container">
 <div class="box2" align="left"  >
       <h1 style="text-align: center;margin:20px;" class="styled-text">Value</h1>
    <hr style="text-align:left;margin-left:auto;margin-right:auto">
  <p class="split2">
International and intercultural understanding<br/>
Celebration of difference<br/>
Personal responsibility and integrity<br/>
Mutual responsibility<br/>
Compassion and service<br/>
Respect for the environment <br/>
A sense of idealism<br/>
Personal challenge<br/>
Action and personal example<br/>
</p>
  
</div> 
</div> 
<script type="text/javascript">


</script>
-->
<!--
</section>

<section id="three">

    <h1 style="text-align: center;margin:20px;" class="styled-text">UWC Education</h1>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
    <p class='styled-text' style='width:75%;text-align:left;margin-left:110px;font-size:1.1em;'>
Today, UWC has 18 schools and colleges on 4 continents, the majority of which focus exclusively on the 16-19 year-old age group: a time when young people’s energy and idealism can be guided towards empathy, responsibility and lifelong action. These colleges teach the International Baccalaureate (IB) Diploma as their formal curriculum, a qualification that UWC played a major part in developing, while also emphasising the importance of experiential learning, community service and outdoor activities.
<br>
<br>
UWC college students are selected domestically, in more than 150 countries, through UWC’s unique national committee system. Selection is based on demonstrated promise and potential. In accordance with the UWC ethos that education should be independent of the student’s socioeconomic means, 70% of students in their IB Diploma years receive either full or partial financial assistance, based on their needs.
<br>
<br>
UWC also runs shorter educational programmes – conducted at the campuses of its 18 schools and colleges and beyond – increasing the number of people who can have access to a UWC educational experience.
<br>
<br>
UWC fosters a lifelong commitment to social responsibility and, to date, it has inspired a worldwide network of more than 60,000 alumni, who believe it is possible to take action and make a difference locally, nationally and internationally.
    </p>

    <h3 style="text-align: center;margin:20px;" class="styled-text">What is the International Baccalaureate Programme?</h3>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
    <p class='styled-text' style='width:75%;text-align:left;margin-left:110px;font-size:1.1em;'>
<br>
<br>
The IB Organisation (IBO) was founded in 1968. From the beginning, the IBO relied on UWC’s input and collaboration in light of UWC’s experience of providing progressive, intercultural education with an emphasis on experiential learning. The ties between both organisations remain close today as the IBO celebrates its 50th anniversary in 2018.
<br>
<br>
After six years of piloting the programme at different schools including UWC Atlantic College in Wales, the IBDP was officially established in 1975. Programmes for primary years, middle years and career-related programmes were developed in the last two decades. All IB programmes aim to “encourage students across the world to become active, compassionate and lifelong learners who understand that other people, with their differences, can also be right.”
<br>
<br>
The various programmes have grown in popularity due to the organisation’s reputation as the “gold standard” for international education, particularly in the IBDP. Today there are five thousand schools educating 1.3 million students globally.
<br>
<br>
Which subjects can students take for the IBDP?
<br>
<br>
IB Diploma students choose a course from each of the following six subject areas: 1. Studies in Language and Literature
<br>
<br>
Language Acquisition<br>
Individuals and Societies<br>
Sciences<br>
Mathematics<br>
The Arts (instead of a course in the arts, students can opt to study another science, individuals and societies, or language acquisition course)
<br>
<br>
IBDP Subjects at uwc
<br>
<br>
Students study generally three subjects at standard level, and three subjects at a higher level, for which they are expected to demonstrate a greater body of knowledge, understanding and skills. Which specific subjects are offered will vary between the UWC schools and colleges, often reflecting their geographic location and focus areas.
<br>
<br>
As well as the six subject areas, students complete three core parts of the IB Diploma which are central to the philosophy of the programme. These are:
<br>
<br>
Extended Essay (EE): Students investigate a topic of special interest, and develop the independent research and writing skills required at university level. The essay is typically written in one of the student’s six subject groups and must be no more than 4,000 words in length. Students are supported in the research and writing process by an academic supervisor.
<br>
<br>
Theory of Knowledge (TOK): The course encourages students to reflect on the nature of knowledge, on how we know what we claim to know. It is assessed through an oral presentation and a 1,600-word essay.
Creativity, Activity, Service (CAS): Taking responsibility, developing social, creative and outdoor skills, as well as learning to approach others with empathy are at the heart of the programme. Students engage in a variety of projects that aim to help them develop these skills, while at the same time actively engaging with their local community.
<br>
<br>
The combination of these elements enables students to develop their capacity to analyse and evaluate information, to effectively communicate ideas, and develop convincing arguments, all of which prepares them for undergraduate and further study. Furthermore, students are able to put their cultural knowledge and understanding into their academic learning, becoming aware of themselves as thinkers and increasingly connected to others.
    </p>


     <h1 style="text-align: center;margin:20px;" class="styled-text">Creativity, Activity, Service Examples</h1>
    <hr style="width:90%;text-align:left;margin-left:auto;margin-right:auto">
    <div class="grid-container" id="cas-list">
    </div>
    <p class='styled-text' style='width:75%;text-align:left;margin-left:110px;font-size:1.1em;'>
        Creativity, activity, service (CAS) a range of mandatory activities that IB students have to take, alongside their academic studies. 
        CAS is required to enhance the students' personal and interpersonal development by learning through experience.
        <br>
        <br>
         CAS activities at UWC are highly unique because students have the opportunity to engage in activities which are culturally relevant to the location of the UWC.
    <br>
    <br>
    <br>
    <br>
    <br>

    </p>


    <script>
        var cas = '{"cas":[' +
            '{"id":"1","name":"Programming Club","icon":"fas fa-laptop-code"},' +
            '{"id":"2","name":"Football","icon":"far fa-futbol"},' +
            '{"id":"3","name":"Organic Farming","icon":"fas fa-seedling"},' +
            '{"id":"4","name":"Film Making","icon":"fas fa-film"},' +
            '{"id":"5","name":"Mountain Biking","icon":"fas fa-biking"},' +
            '{"id":"6","name":"Dog Shelter","icon":"fas fa-dog"},' +
            '{"id":"7","name":"Music Ensemble","icon":"fas fa-guitar"},' +
            '{"id":"8","name":"Dragon Dance","icon":"fas fa-dragon"},' +
            '{"id":"9","name":"Community Funds","icon":"fas fa-users"}' +
            ']}';
        console.log(cas);
        var obj = JSON.parse(cas);
        var output = "";
        var i;
        for (i = 0; i < obj.cas.length; i++) {
            output += "<div class='grid-item' style='padding: 30px;font-size: 20px;text-align: center;color:#555;'>" +
                "<i class='" + obj.cas[i].icon +
                " fa-3x' style='padding-bottom:20px;'></i><br/><span class='styled-text'>" + obj.cas[i]
                .name +
                '</span></div>';
        }
        document.getElementById("cas-list").innerHTML = output;
    </script>           
</section>

<section id="four">
            
</section>

</div>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript">
        docSlider.init(4);

        docSlider.enable(true);




</script>
-->

</body>

</html>
